<body
  class="d-flex flex-column justify-content-between align-items-center pb-5"
  style="background-color: rgb(23, 135, 209)"
>
  <table class="w-100">
    <tr
      class="w-100 border border-dark align-items-center justify-content-start d-flex"
      [ngStyle]="
        friend.ID == myID
          ? { 'background-color': 'red' }
          : matchedWith && friend.ID == matchedWith.ID
          ? { 'background-color': 'yellow' }
          : { 'background-color': 'white' }
      "
      *ngFor="let friend of invitedFriends"
    >
      <img
        *ngIf="friend.imageURL != null"
        class="p-3 rounded-circle"
        style="height: 70px; width: 70px"
        [src]="friend.imageURL"
      />
      <h1 class="p-3">{{ friend.nickname }}</h1>
    </tr>
  </table>
  <button
    [ngStyle]="{ visibility: amIAdmin ? 'visible' : 'hidden' }"
    class="w-50 btn btn-light mt-5"
    style="height: 60px; margin-bottom: 50px; font-size: x-large"
    (click)="match()"
  >
    Start
  </button>
  <button class="link" (click)="copyMessage(link)">
    Click to copy link: {{ link }}
  </button>
</body>

<!-- Modal -->
<div
  *ngIf="showModal"
  class="modal show"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Buy a gift</h5>
        <button
          type="button"
          class="close"
          (click)="toggleModal(false)"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">{{ matchedWith.nickname }}</div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="toggleModal(false)"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
