<div class="backgroundContainer h-100 row align-items-center">
  <div class="container w-75 bg-light border border-dark rounded">
    <div class="row">
      <div class="col-md-5 mx-auto">
        <div id="first">
          <div class="myform form">
            <div class="logo mb-3">
              <div class="col-md-12 py-3 text-center">
                <h1>{{ isInvite ? "Enter Room" : "Create Room" }}</h1>
              </div>
            </div>
            <form action="" method="post" name="login">
              <div class="form-group">
                <label>Nickname</label>
                <input
                  type="name"
                  name="name"
                  class="form-control"
                  id="name"
                  [(ngModel)]="nickname"
                  placeholder="Enter a nickname"
                />
              </div>
              <label>Choose an image</label>
              <input
                class="py-3"
                type="file"
                id="myFile"
                name="filename"
                (change)="onFileSelected($event)"
                accept=".png,.jpg"
              />
              <div class="col-md-12 text-center">
                <button
                  *ngIf="isInvite"
                  [disabled]="nickname === ''"
                  type="submit"
                  class="btn btn-block mybtn btn-primary my-5"
                  (click)="postMyDataToFirebase()"
                >
                  Enter
                </button>
                <button
                  *ngIf="!isInvite"
                  [disabled]="nickname === ''"
                  type="submit"
                  class="btn btn-block mybtn btn-primary my-5"
                  data-toggle="modal"
                  data-target="#successModal"
                >
                  Create
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div
        class="modal fade"
        id="successModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="successModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                Share link with your friends
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">{{ linkForShare }}</div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                data-dismiss="modal"
                (click)="postMyDataToFirebase()"
              >
                Copy
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="showLoader"
  class="loadingPage spinner-border text-primary"
  id="spinner"
  role="status"
>
  <span class="sr-only">Loading...</span>
</div>
<div class="version">Version: 0.1</div>
